.fifth-container45{
    display: flex;
    flex-direction:column;
}
.fifth-four{
    background: url(./image/fifthfour.jpeg);
    background-size: cover;
    background-position: center;
    height: 258.5px;
    width: 98%;
    border: 6px solid white;
    border-bottom: 3px solid white;
}
.fifth-five{
    background: url(./image/fifthfive.jpeg);
    background-size: cover;
    background-position: center;
    height: 258.5px;
    width: 98%;
    border: 6px solid white;
    border-top: 3px solid white;
}
.funtoro{
    text-align: center;
    display: flex;
    justify-content:center;
    font-size: 20px;
    background: #00000059;
    color: #ffffff;
    margin-top: 13rem;
    padding: 13px 0px 13px 0px;
}
.AioT{
    text-align: center;
    display: flex;
    justify-content:center;
    font-size: 20px;
    background: #00000059;
    color: #ffffff;
    margin-top: 13rem;
    padding: 13px 0px 13px 0px;
}
.funtoro-para{
    display: none;
}
.fifth-four:hover .funtoro-para{
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    position: relative;
    background: #00000059;
    top: -16px;
    display: block;
    padding: 0px 0px 26px 0px;
}
.fifth-four:hover .funtoro{
    margin-top: 9.8rem;
}
.AioT-para{
    display: none;
}
.fifth-five:hover .AioT-para{
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    position: relative;
    background: #00000059;
    top: -16px;
    display: block;
    padding: 0px 0px 26px 0px;
}
.fifth-five:hover .AioT{
    margin-top: 9.8rem;
}
@media screen and (max-width:1441px) and (min-width:1026px){
    .fifth-container45{
        display: flex;
        flex-direction:column;
    }
    .fifth-four{
        background: url(./image/fifthfour.jpeg);
        background-size: cover;
        background-position: center;
        height: 258.5px;
        width: 96%;
        border: 6px solid white;
        border-bottom: 3px solid white;
    }
    .fifth-five{
        background: url(./image/fifthfive.jpeg);
        background-size: cover;
        background-position: center;
        height: 258.5px;
        width: 96%;
        border: 6px solid white;
        border-top: 3px solid white;
    }
    .funtoro{
        text-align: center;
        display: flex;
        justify-content:center;
        font-size: 20px;
        background: #00000059;
        color: #ffffff;
        margin-top: 13rem;
        padding: 13px 0px 13px 0px;
    }
    .AioT{
        text-align: center;
        display: flex;
        justify-content:center;
        font-size: 20px;
        background: #00000059;
        color: #ffffff;
        margin-top: 13rem;
        padding: 13px 0px 13px 0px;
    }
    .funtoro-para{
        display: none;
    }
    .fifth-four:hover .funtoro-para{
        text-align: center;
        font-size: 16px;
        color: #ffffff;
        position: relative;
        background: #00000059;
        top: -16px;
        display: block;
        padding: 0px 0px 26px 0px;
    }
    .fifth-four:hover .funtoro{
        margin-top: 8.6rem;
    }
    .AioT-para{
        display: none;
    }
    .fifth-five:hover .AioT-para{
        text-align: center;
        font-size: 16px;
        color: #ffffff;
        position: relative;
        background: #00000059;
        top: -16px;
        display: block;
        padding: 0px 0px 26px 0px;
    }
    .fifth-five:hover .AioT{
        margin-top: 8.6rem;
    }   
}
@media screen and (max-width:1025px) and (min-width:769px){
    .fifth-container45{
        display: flex;
        flex-direction:row;
    }
    .fifth-four{
        background: url(./image/fifthfour.jpeg);
        background-size: cover;
        background-position: center;
        height: 366px;
        width: 96%;
        border: 6px solid white;
        border-right: none;
    }
    .fifth-five{
        background: url(./image/fifthfive.jpeg);
        background-size: cover;
        background-position: center;
        height: 366px;
        width: 96%;
        border: 6px solid white;
    }
    .funtoro{
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 20px;
        background: #00000059;
        color: #ffffff;
        margin-top: 18rem;
        padding: 25px 0px 25px 0px;
    }
    .AioT{
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 20px;
        background: #00000059;
        color: #ffffff;
        margin-top: 18rem;
        padding: 25px 0px 25px 0px;
    }
    .funtoro-para{
        display: none;
    }
    .fifth-four:hover .funtoro-para{
        text-align: center;
        font-size: 16px;
        color: #ffffff;
        position: relative;
        background: #00000059;
        top: -16px;
        display: block;
        padding: 0px 0px 26px 0px;
    }
    .fifth-four:hover .funtoro{
        margin-top: 15.2rem;
    }
    .AioT-para{
        display: none;
    }
    .fifth-five:hover .AioT-para{
        text-align: center;
        font-size: 16px;
        color: #ffffff;
        position: relative;
        background: #00000059;
        top: -16px;
        display: block;
        padding: 0px 0px 26px 0px;
    }
    .fifth-five:hover .AioT{
        margin-top: 15.2rem;
    } 
}
@media screen and (max-width:769px) and (min-width:426px){
    .fifth-container45{
        display: flex;
        flex-direction:column;
    }
    .fifth-four{
        background: url(./image/fifthfour.jpeg);
        background-size: cover;
        background-position: center;
        height: 300px;
        width: 98%;
        border: 6px solid white;
        border-top: none;
    }
    .fifth-five{
        background: url(./image/fifthfive.jpeg);
        background-size: cover;
        background-position: center;
        height: 300px;
        width: 98%;
        border: 6px solid white;
        border-top: none;
    }
    .funtoro{
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 20px;
        background: #00000059;
        color: #ffffff;
        margin-top: 14rem;
        padding: 25px 0px 25px 0px;
    }
    .AioT{
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 20px;
        background: #00000059;
        color: #ffffff;
        margin-top: 14rem;
        padding: 25px 0px 25px 0px;
    }
    .funtoro-para{
        display: none;
    }
    .fifth-four:hover .funtoro-para{
        text-align: center;
        font-size: 16px;
        color: #ffffff;
        position: relative;
        background: #00000059;
        top: -16px;
        display: block;
        padding: 0px 0px 26px 0px;
    }
    .fifth-four:hover .funtoro{
        margin-top: 11rem;
    }
    .AioT-para{
        display: none;
    }
    .fifth-five:hover .AioT-para{
        text-align: center;
        font-size: 16px;
        color: #ffffff;
        position: relative;
        background: #00000059;
        top: -16px;
        display: block;
        padding: 0px 0px 26px 0px;
    }
    .fifth-five:hover .AioT{
        margin-top: 11rem;
    } 
}
@media screen and (max-width:426px) and (min-width:376px){
    .fifth-container45{
        display: flex;
        flex-direction:column;
    }
    .fifth-four{
        background: url(./image/fifthfour.jpeg);
        background-size: cover;
        background-position: center;
        height: 300px;
        width: 98%;
        border: 6px solid white;
        border-top: none;
    }
    .fifth-five{
        background: url(./image/fifthfive.jpeg);
        background-size: cover;
        background-position: center;
        height: 300px;
        width: 98%;
        border: 6px solid white;
        border-top: none;
    }
    .funtoro{
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 20px;
        background: #00000059;
        color: #ffffff;
        margin-top: 14rem;
        padding: 25px 0px 25px 0px;
    }
    .AioT{
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 20px;
        background: #00000059;
        color: #ffffff;
        margin-top: 14rem;
        padding: 25px 0px 25px 0px;
    }
    .funtoro-para{
        display: none;
    }
    .fifth-four:hover .funtoro-para{
        text-align: center;
        font-size: 16px;
        color: #ffffff;
        position: relative;
        background: #00000059;
        top: -16px;
        display: block;
        padding: 0px 0px 26px 0px;
    }
    .fifth-four:hover .funtoro{
        margin-top: 11rem;
    }
    .AioT-para{
        display: none;
    }
    .fifth-five:hover .AioT-para{
        text-align: center;
        font-size: 16px;
        color: #ffffff;
        position: relative;
        background: #00000059;
        top: -16px;
        display: block;
        padding: 0px 0px 26px 0px;
    }
    .fifth-five:hover .AioT{
        margin-top: 11rem;
    } 
}
@media screen and (max-width:376px) and (min-width:326px){
    .fifth-container45{
        display: flex;
        flex-direction:column;
    }
    .fifth-four{
        background: url(./image/fifthfour.jpeg);
        background-size: cover;
        background-position: center;
        height: 300px;
        width: 96%;
        border: 6px solid white;
        border-top: none;
    }
    .fifth-five{
        background: url(./image/fifthfive.jpeg);
        background-size: cover;
        background-position: center;
        height: 300px;
        width: 96%;
        border: 6px solid white;
        border-top: none;
    }
    .funtoro{
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 20px;
        background: #00000059;
        color: #ffffff;
        margin-top: 14rem;
        padding: 25px 0px 25px 0px;
    }
    .AioT{
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 20px;
        background: #00000059;
        color: #ffffff;
        margin-top: 14rem;
        padding: 25px 0px 25px 0px;
    }
    .funtoro-para{
        display: none;
    }
    .fifth-four:hover .funtoro-para{
        text-align: center;
        font-size: 16px;
        color: #ffffff;
        position: relative;
        background: #00000059;
        top: -16px;
        display: block;
        padding: 0px 0px 26px 0px;
    }
    .fifth-four:hover .funtoro{
        margin-top: 11rem;
    }
    .AioT-para{
        display: none;
    }
    .fifth-five:hover .AioT-para{
        text-align: center;
        font-size: 16px;
        color: #ffffff;
        position: relative;
        background: #00000059;
        top: -16px;
        display: block;
        padding: 0px 0px 4px 0px;
    }
    .fifth-five:hover .AioT{
        margin-top: 11rem;
    } 
}
@media screen and (max-width:326px) and (min-width:0px){
    .fifth-container45{
        display: flex;
        flex-direction:column;
    }
    .fifth-four{
        background: url(./image/fifthfour.jpeg);
        background-size: cover;
        background-position: center;
        height: 300px;
        width: 96%;
        border: 6px solid white;
        border-top: none;
    }
    .fifth-five{
        background: url(./image/fifthfive.jpeg);
        background-size: cover;
        background-position: center;
        height: 300px;
        width: 96%;
        border: 6px solid white;
        border-top:none;
    }
    .funtoro{
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 20px;
        background: #00000059;
        color: #ffffff;
        margin-top: 14rem;
        padding: 25px 0px 25px 0px;
    }
    .AioT{
        text-align: center;
        display: flex;
        justify-content: center;
        font-size: 20px;
        background: #00000059;
        color: #ffffff;
        margin-top: 14rem;
        padding: 25px 0px 25px 0px;
    }
    .funtoro-para{
        display: none;
    }
    .fifth-four:hover .funtoro-para{
        text-align: center;
        font-size: 16px;
        color: #ffffff;
        position: relative;
        background: #00000059;
        top: -16px;
        display: block;
        padding: 0px 0px 5px 0px;
    }
    .fifth-four:hover .funtoro{
        margin-top: 11rem;
    }
    .AioT-para{
        display: none;
    }
    .fifth-five:hover .AioT-para{
        text-align: center;
        font-size: 16px;
        color: #ffffff;
        position: relative;
        background: #00000059;
        top: -16px;
        display: block;
        padding: 0px 0px 5px 0px;
    }
    .fifth-five:hover .AioT{
        margin-top: 11rem;
    } 
}