.fifth-main-container{
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    flex-direction: row;
}
.fifth-one-container{
    background: url(./fifthsub/image/fifthone.jpeg);
    width: 50%;
    background-size: cover;
    background-position: center;
    height: 524px;
    border: 6px solid white;
}
.Rugged{
    text-align: center;
    font-size: 20px;
    background: #00000059;
    color: #ffffff;
    margin-top: 29.4rem;
    position: relative;
    padding: 13px 0px 13px 0px;
}
.Rugged-para{
   display: none;
}
.fifth-one-container:hover  .Rugged-para{
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    position: relative;
    background: #00000059;
    top: -16px;
    display: block;
    padding: 0px 0px 26px 0px;
}
.fifth-one-container:hover .Rugged{
    margin-top: 26.6rem;
}
.fifth-two-container{
    background-color: black;
    width: 25%;
    height: 524px;
}
.fifth-three-container{
    background-color: black;
    width: 25%;
    height: 524px;
}
@media screen and (max-width:1441px) and (min-width:1026px){
    .fifth-main-container{
        display: flex;
        flex-direction: row;
    }
    .fifth-one-container{
        background: url(./fifthsub/image/fifthone.jpeg);
        width: 50%;
        background-size: cover;
        background-position: center;
        height: 524px;
        border: 6px solid white;
    }
    .Rugged{
        text-align: center;
        font-size: 20px;
        background: #00000059;
        color: #ffffff;
        margin-top: 29rem;
        position: relative;
        padding: 13px 0px 13px 0px;
    }
    .Rugged-para{
       display: none;
    }
    .fifth-one-container:hover  .Rugged-para{
        text-align: center;
        font-size: 16px;
        color: #ffffff;
        position: relative;
        background: #00000059;
        top: -16px;
        display: block;
        padding: 0px 0px 26px 0px;
    }
    .fifth-one-container:hover .Rugged{
        margin-top: 26rem;
    }
    .fifth-two-container{
        background-color: black;
        width: 25%;
        height: 517px;
    }
    .fifth-three-container{
        background-color: black;
        width: 25%;
        height: 517px;
    }   
}
@media screen and (max-width:1025px) and (min-width:769px){ 
    .fifth-main-container{
        display: flex;
        flex-direction: column;
    }
    .fifth-one-container{
        background: url(./fifthsub/image/fifthone.jpeg);
        width: 100%;
        background-size: cover;
        background-position: center;
        height: 366px;
        border: 6px solid white;
    }
    .Rugged{
        text-align: center;
        font-size: 20px;
        background: #00000059;
        color: #ffffff;
        margin-top: 18rem;
        position: relative;
        padding: 26px 0px 26px 0px;
    }
    .Rugged-para{
       display: none;
    }
    .fifth-one-container:hover  .Rugged-para{
        text-align: center;
        font-size: 16px;
        color: #ffffff;
        position: relative;
        background: #00000059;
        top: -16px;
        display: block;
        padding: 0px 0px 42px 0px;
    }
    .fifth-one-container:hover .Rugged{
        margin-top: 14rem;
    }
    .fifth-two-container{
        background-color: transparent;
        width: 100%;
        height: 366px;
    }
    .fifth-three-container{
        background-color: transparent;
        width: 100%;
        height: 366px;
    }   
}
@media screen and (max-width:1025px) and (min-width:769px){ 
    .fifth-main-container{
        display: flex;
        flex-direction: column;
    }
    .fifth-one-container{
        background: url(./fifthsub/image/fifthone.jpeg);
        width: 100%;
        background-size: cover;
        background-position: center;
        height: 366px;
        border: 6px solid white;
        border-bottom: none;
    }
    .Rugged{
        text-align: center;
        font-size: 20px;
        background: #00000059;
        color: #ffffff;
        margin-top: 18rem;
        position: relative;
        padding: 26px 0px 26px 0px;
    }
    .Rugged-para{
       display: none;
    }
    .fifth-one-container:hover  .Rugged-para{
        text-align: center;
        font-size: 16px;
        color: #ffffff;
        position: relative;
        background: #00000059;
        top: -16px;
        display: block;
        padding: 0px 0px 42px 0px;
    }
    .fifth-one-container:hover .Rugged{
        margin-top: 14rem;
    }
    .fifth-two-container{
        background-color: transparent;
        width: 100%;
        height: 366px;
    }
    .fifth-three-container{
        background-color: transparent;
        width: 100%;
        height: 366px;
    }   
}
@media screen and (max-width:769px) and (min-width:426px){
    .fifth-main-container{
        display: flex;
        flex-direction: column;
    }
    .fifth-one-container{
        background: url(./fifthsub/image/fifthone.jpeg);
        width: 98%;
        background-size: cover;
        background-position: center;
        height: 300px;
        border: 6px solid white;
        border-bottom: none;
    }
    .Rugged{
        text-align: center;
        font-size: 20px;
        background: #00000059;
        color: #ffffff;
        margin-top: 13.8rem;
        position: relative;
        padding: 26px 0px 26px 0px;
    }
    .Rugged-para{
       display: none;
    }
    .fifth-one-container:hover  .Rugged-para{
        text-align: center;
        font-size: 16px;
        color: #ffffff;
        position: relative;
        background: #00000059;
        top: -16px;
        display: block;
        padding: 0px 0px 42px 0px;
    }
    .fifth-one-container:hover .Rugged{
        margin-top: 9.8rem;
    }
    .fifth-two-container{
        background-color: transparent;
        width: 100%;
        height: 620px;
    }
    .fifth-three-container{
        background-color: transparent;
        width: 100%;
        height: 612px;
    }     
}
@media screen and (max-width:426px) and (min-width:376px){
    .fifth-main-container{
        display: flex;
        flex-direction: column;
    }
    .fifth-one-container{
        background: url(./fifthsub/image/fifthone.jpeg);
        width: 100%;
        background-size: cover;
        background-position: center;
        height: 300px;
        border: 6px solid white;
    }
    .Rugged{
        text-align: center;
        font-size: 20px;
        background: #00000059;
        color: #ffffff;
        margin-top: 13.8rem;
        position: relative;
        padding: 26px 0px 26px 0px;
    }
    .Rugged-para{
       display: none;
    }
    .fifth-one-container:hover  .Rugged-para{
        text-align: center;
        font-size: 16px;
        color: #ffffff;
        position: relative;
        background: #00000059;
        top: -16px;
        display: block;
        padding: 0px 0px 42px 0px;
    }
    .fifth-one-container:hover .Rugged{
        margin-top: 9.8rem;
    }
    .fifth-two-container{
        background-color: transparent;
        width: 100%;
        height: 610px;
    }
    .fifth-three-container{
        background-color: transparent;
        width: 100%;
        height: 610px;
    }     
}
@media screen and (max-width:376px) and (min-width:326px){
    .fifth-main-container{
        display: flex;
        flex-direction: column;
    }
    .fifth-one-container{
        background: url(./fifthsub/image/fifthone.jpeg);
        width: 96%;
        background-size: cover;
        background-position: center;
        height: 300px;
        border: 6px solid white;
    }
    .Rugged{
        text-align: center;
        font-size: 20px;
        background: #00000059;
        color: #ffffff;
        margin-top: 13.8rem;
        position: relative;
        padding: 26px 0px 26px 0px;
    }
    .Rugged-para{
       display: none;
    }
    .fifth-one-container:hover  .Rugged-para{
        text-align: center;
        font-size: 16px;
        color: #ffffff;
        position: relative;
        background: #00000059;
        top: -16px;
        display: block;
        padding: 0px 0px 42px 0px;
    }
    .fifth-one-container:hover .Rugged{
        margin-top: 9.8rem;
    }
    .fifth-two-container{
        background-color: transparent;
        width: 100%;
        height: 612px;
    }
    .fifth-three-container{
        background-color: transparent;
        width: 100%;
        height: 612px;
    }     
}
@media screen and (max-width:326px) and (min-width:0px){
    .fifth-main-container{
        display: flex;
        flex-direction: column;
    }
    .fifth-one-container{
        background: url(./fifthsub/image/fifthone.jpeg);
        width: 96%;
        background-size: cover;
        background-position: center;
        height: 300px;
        border: 6px solid white;
    }
    .Rugged{
        text-align: center;
        font-size: 20px;
        background: #00000059;
        color: #ffffff;
        margin-top: 13.8rem;
        position: relative;
        padding: 26px 0px 26px 0px;
    }
    .Rugged-para{
       display: none;
    }
    .fifth-one-container:hover  .Rugged-para{
        text-align: center;
        font-size: 16px;
        color: #ffffff;
        position: relative;
        background: #00000059;
        top: -16px;
        display: block;
        padding: 0px 0px 42px 0px;
    }
    .fifth-one-container:hover .Rugged{
        margin-top: 9.8rem;
    }
    .fifth-two-container{
        background-color: transparent;
        width: 100%;
        height: 540px;
    }
    .fifth-three-container{
        background-color: transparent;
        width: 100%;
        height: 612px;
    }     
}